html,
body {
  font-family: 'Menlo', monospace;
  margin: 0;
  color: #293c4b;
  height: 100%; }

#root {
  height: 100%; }

.game {
  padding: 0 20px;
  height: 90%; }

.card {
  border-radius: 0.625rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  border: 1px solid #ccc;
  padding: 0.41667rem;
  padding-bottom: 0.20833rem;
  background: white;
  overflow: hidden; }
  .card img {
    width: 5rem; }

.hand {
  position: relative;
  height: 10rem;
  width: 20rem; }
  .hand .card {
    position: absolute;
    transition: 0.1s ease-in-out; }
    .hand .card:nth-child(1) {
      left: 0rem; }
    .hand .card:nth-child(2) {
      left: 1.66667rem; }
    .hand .card:nth-child(3) {
      left: 3.33333rem; }
    .hand .card:nth-child(4) {
      left: 5rem; }
    .hand .card:nth-child(5) {
      left: 6.66667rem; }
    .hand .card:nth-child(6) {
      left: 8.33333rem; }
    .hand .card:nth-child(7) {
      left: 10rem; }
    .hand .card:nth-child(8) {
      left: 11.66667rem; }
    .hand .card:nth-child(9) {
      left: 13.33333rem; }
    .hand .card:nth-child(10) {
      left: 15rem; }
    .hand .card:nth-child(11) {
      left: 16.66667rem; }
    .hand .card:nth-child(12) {
      left: 18.33333rem; }
    .hand .card.selectable:hover {
      transform: translateY(-0.8em); }

.deck {
  position: relative;
  height: 10rem;
  width: 6rem; }
  .deck .card {
    position: absolute; }
    .deck .card:nth-child(1) {
      left: 0rem;
      top: 0rem;
      z-index: 47; }
    .deck .card:nth-child(2) {
      left: 0.025rem;
      top: 0.0125rem;
      z-index: 46; }
    .deck .card:nth-child(3) {
      left: 0.05rem;
      top: 0.025rem;
      z-index: 45; }
    .deck .card:nth-child(4) {
      left: 0.075rem;
      top: 0.0375rem;
      z-index: 44; }
    .deck .card:nth-child(5) {
      left: 0.1rem;
      top: 0.05rem;
      z-index: 43; }
    .deck .card:nth-child(6) {
      left: 0.125rem;
      top: 0.0625rem;
      z-index: 42; }
    .deck .card:nth-child(7) {
      left: 0.15rem;
      top: 0.075rem;
      z-index: 41; }
    .deck .card:nth-child(8) {
      left: 0.175rem;
      top: 0.0875rem;
      z-index: 40; }
    .deck .card:nth-child(9) {
      left: 0.2rem;
      top: 0.1rem;
      z-index: 39; }
    .deck .card:nth-child(10) {
      left: 0.225rem;
      top: 0.1125rem;
      z-index: 38; }
    .deck .card:nth-child(11) {
      left: 0.25rem;
      top: 0.125rem;
      z-index: 37; }
    .deck .card:nth-child(12) {
      left: 0.275rem;
      top: 0.1375rem;
      z-index: 36; }
    .deck .card:nth-child(13) {
      left: 0.3rem;
      top: 0.15rem;
      z-index: 35; }
    .deck .card:nth-child(14) {
      left: 0.325rem;
      top: 0.1625rem;
      z-index: 34; }
    .deck .card:nth-child(15) {
      left: 0.35rem;
      top: 0.175rem;
      z-index: 33; }
    .deck .card:nth-child(16) {
      left: 0.375rem;
      top: 0.1875rem;
      z-index: 32; }
    .deck .card:nth-child(17) {
      left: 0.4rem;
      top: 0.2rem;
      z-index: 31; }
    .deck .card:nth-child(18) {
      left: 0.425rem;
      top: 0.2125rem;
      z-index: 30; }
    .deck .card:nth-child(19) {
      left: 0.45rem;
      top: 0.225rem;
      z-index: 29; }
    .deck .card:nth-child(20) {
      left: 0.475rem;
      top: 0.2375rem;
      z-index: 28; }
    .deck .card:nth-child(21) {
      left: 0.5rem;
      top: 0.25rem;
      z-index: 27; }
    .deck .card:nth-child(22) {
      left: 0.525rem;
      top: 0.2625rem;
      z-index: 26; }
    .deck .card:nth-child(23) {
      left: 0.55rem;
      top: 0.275rem;
      z-index: 25; }
    .deck .card:nth-child(24) {
      left: 0.575rem;
      top: 0.2875rem;
      z-index: 24; }
    .deck .card:nth-child(25) {
      left: 0.6rem;
      top: 0.3rem;
      z-index: 23; }
    .deck .card:nth-child(26) {
      left: 0.625rem;
      top: 0.3125rem;
      z-index: 22; }
    .deck .card:nth-child(27) {
      left: 0.65rem;
      top: 0.325rem;
      z-index: 21; }
    .deck .card:nth-child(28) {
      left: 0.675rem;
      top: 0.3375rem;
      z-index: 20; }
    .deck .card:nth-child(29) {
      left: 0.7rem;
      top: 0.35rem;
      z-index: 19; }
    .deck .card:nth-child(30) {
      left: 0.725rem;
      top: 0.3625rem;
      z-index: 18; }
    .deck .card:nth-child(31) {
      left: 0.75rem;
      top: 0.375rem;
      z-index: 17; }
    .deck .card:nth-child(32) {
      left: 0.775rem;
      top: 0.3875rem;
      z-index: 16; }
    .deck .card:nth-child(33) {
      left: 0.8rem;
      top: 0.4rem;
      z-index: 15; }
    .deck .card:nth-child(34) {
      left: 0.825rem;
      top: 0.4125rem;
      z-index: 14; }
    .deck .card:nth-child(35) {
      left: 0.85rem;
      top: 0.425rem;
      z-index: 13; }
    .deck .card:nth-child(36) {
      left: 0.875rem;
      top: 0.4375rem;
      z-index: 12; }
    .deck .card:nth-child(37) {
      left: 0.9rem;
      top: 0.45rem;
      z-index: 11; }
    .deck .card:nth-child(38) {
      left: 0.925rem;
      top: 0.4625rem;
      z-index: 10; }
    .deck .card:nth-child(39) {
      left: 0.95rem;
      top: 0.475rem;
      z-index: 9; }
    .deck .card:nth-child(40) {
      left: 0.975rem;
      top: 0.4875rem;
      z-index: 8; }
    .deck .card:nth-child(41) {
      left: 1rem;
      top: 0.5rem;
      z-index: 7; }
    .deck .card:nth-child(42) {
      left: 1.025rem;
      top: 0.5125rem;
      z-index: 6; }
    .deck .card:nth-child(43) {
      left: 1.05rem;
      top: 0.525rem;
      z-index: 5; }
    .deck .card:nth-child(44) {
      left: 1.075rem;
      top: 0.5375rem;
      z-index: 4; }
    .deck .card:nth-child(45) {
      left: 1.1rem;
      top: 0.55rem;
      z-index: 3; }
    .deck .card:nth-child(46) {
      left: 1.125rem;
      top: 0.5625rem;
      z-index: 2; }
    .deck .card:nth-child(47) {
      left: 1.15rem;
      top: 0.575rem;
      z-index: 1; }
    .deck .card:nth-child(48) {
      left: 1.175rem;
      top: 0.5875rem;
      z-index: 0; }

.trick {
  position: relative;
  height: 10rem; }
  .trick .card {
    position: absolute; }
    .trick .card:nth-child(1) {
      left: 10px;
      transform: rotate(0deg); }
    .trick .card:nth-child(2) {
      left: 20px;
      top: 10px;
      transform: rotate(90deg); }
    .trick .card:nth-child(3) {
      left: 10px;
      top: 20px;
      transform: rotate(180deg); }
    .trick .card:nth-child(4) {
      top: 10px;
      transform: rotate(270deg); }

.card-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 20px; }
  .card-table .card-table-top {
    display: flex;
    justify-content: center; }
    .card-table .card-table-top .player:first-child {
      transform: scale(0.8); }
  .card-table .card-table-center {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .card-table .card-table-center .center {
      flex: 1 1 auto;
      height: 10rem;
      display: flex;
      flex-direction: row;
      justify-content: center; }
    .card-table .card-table-center .player:first-child {
      align-self: flex-start;
      transform: scale(0.8); }
    .card-table .card-table-center .player:last-child {
      align-self: flex-end;
      transform: scale(0.8); }
  .card-table .card-table-bottom {
    display: flex;
    justify-content: center; }
  .card-table .player .name {
    text-align: center; }

.actions {
  position: fixed;
  bottom: 0; }

@keyframes slideIn {
  from {
    transform: translateY(20px); }
  to {
    transform: translateY(0); } }

.errors {
  position: absolute;
  bottom: 20px; }
  .errors .toast {
    animation: slideIn 0.2s ease-in-out;
    margin-top: 10px; }
