$card-width: 5rem;
$card-height: $card-width * 2;
$card-thickness: $card-width / 20rem;

html,
body {
  font-family: 'Menlo', monospace;
  margin: 0;
  color: #293c4b;
  height: 100%
}

#root {
  height: 100%;
}

.game {
  padding: 0 20px;
  height: 90%
}

.card {
  border-radius: $card-width / 8;
  box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  border: 1px solid #ccc;
  padding: $card-width / 12;
  padding-bottom: $card-width / 24;
  background: white;
  overflow: hidden;

  img {
    width: $card-width;
  }
}

.hand {
  position: relative;
  height: $card-height;
  width: $card-width * 4;

  .card {
    position: absolute;
    transition: 0.1s ease-in-out;

    @for $n from 1 through 12 {
      &:nth-child(#{$n}) {
        left: ($card-width / 3) * ($n - 1);
      }
    }

    &.selectable:hover {
      transform: translateY(-0.8em);
    }
  }
}

.deck {
  position: relative;
  height: $card-height;
  width: $card-width * 1.2;

  .card {
    position: absolute;

    @for $n from 1 through 48 {
      &:nth-child(#{$n}) {
        left: ($n - 1) * $card-thickness * 0.1rem;
        top: ($n - 1) * ($card-thickness / 2) * 0.1rem;
        z-index: 48 - $n;
      }
    }
  }
}

.trick {
  position: relative;
  height: $card-height;

  .card {
    position: absolute;

    &:nth-child(1) { left: 10px; transform: rotate(0deg); }
    &:nth-child(2) { left: 20px; top: 10px; transform: rotate(90deg); }
    &:nth-child(3) { left: 10px; top: 20px; transform: rotate(180deg); }
    &:nth-child(4) { top: 10px; transform: rotate(270deg); }
  }
}

.card-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 20px;

  .card-table-top {
    display: flex;
    justify-content: center;

    .player:first-child {
      transform: scale(0.8);
    }
  }

  .card-table-center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .center {
      flex: 1 1 auto;
      height: $card-height;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    .player:first-child {
      align-self: flex-start;
      transform: scale(0.8);
    }
    .player:last-child {
      align-self: flex-end;
      transform: scale(0.8);
    }
  }

  .card-table-bottom {
    display: flex;
    justify-content: center;
  }

  .player .name {
    text-align: center;
  }
}

.actions {
  position: fixed;
  bottom: 0;
}

@keyframes slideIn {
  from { transform: translateY(20px); }
  to { transform: translateY(0); }
}

.errors {
  position: absolute;
  bottom: 20px;

  .toast {
    animation: slideIn 0.2s ease-in-out;
    margin-top: 10px;
  }
}
